*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F7E5D0;
    height: 100%;
    position: relative;
    padding-bottom: 12em;
    min-height: 100vh;
}
nav{
    background-color: #708C85;
    
}
nav ul li{
    display: inline;  

}
nav ul li a{
    color: #D6C5AB;
    text-decoration: none;
   
}
#menu-fondo ul li::after{
    content:"|";
    padding: 0 20px 0 20px;
}
#menu-fondo  ul li:last-child::after{
    content:"";
}
#menu-fondo ul li a:hover{
    color: #005B42;
    background-color: #B48437;
    padding: 5px;
    border-radius: 5px;
}
#menu-fondo{
    background-color: #005B42;
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: 0; 
    text-align: right;
    font-weight: bold;
    border-radius: 0 0 0 25px;
}
#menu-fondo ul li:first-child a {
    background-image: url('../img/inicio.png'); 
    background-size:25%;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 5px;
       
}
main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: center;
    width: 100%;
    
}
@media (max-width: 600px){
    main{
        flex-direction: column;
    }
}
#left{
   flex: 45%;
    text-align: center;
    padding-top: 5%;    
}
#right{
   flex: 45%;
   text-align: center;
   padding-right: 20px;
   
    
    
}
#right p{
    text-align: justify; 
    border: 1px solid #708C85;
    border-radius: 10px;
    padding: 10px;
   
    
}
.imagen-container img{
    width: 100px;  
}
.imagen-container{
    display: inline-block; 
    margin-bottom: 10px;    
}
#imagen-1{
     rotate: -30deg;  
}

#imagen-3{
    
    rotate: 20deg; 
}
#imagen-4{
    rotate: 35deg;  
}
#imagen-5{
    text-align: center;
}
#imagen-5 img{
    width: 200px;
    
}

#right p{
    margin-bottom: 20px;
}

#boton-right{
    background-color: #005B42;
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
}
#boton-right:hover{
    background-color: #B48437;
    
}
#boton-right a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
span a{
    color: #8A5500;
    font-weight: bold;
}
#contenido{
    width: 100%;
    background-color: #F7E5D0;
  
    
    
}
#titulo{
    padding: 20px 0;
    text-align: center;
}
section{
    font-size: 30px;
    font-weight: bold;
    color:#005B42;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0; 
    margin-top: 10px;
    width: 100%;
    background-color: #24765F;
    text-align: center; 
   
}
#footerMargen{
    display: flex;
    align-items: center;
    width: 100%;
  
}
#footer_left{
    flex: 50%;
    text-align: left;
    padding: 20px;
     
}
#footer_right{
    flex: 45%;
    text-align: center;
    padding: 20px;
   
}
#footer_left ul{
    list-style-type: none;
    
}
#footer_left ul li, a{
    padding: 15px 0px 0px 0px;
    color: #FFFFFF;
    text-decoration: none;
}
#footer_left ul li a:hover{
    color: #C7A570;
}