table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    margin: auto;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
table th{
  
    background-color: rgb(51, 108, 89);
    color: azure;
}
.fila2 th{
    background-color: rgb(115, 151, 101);
    color: azure;
}